<h1>
  <%= @post.title %>
</h1>

<h2>
  <ul>
    <% @post.categories.each do |cat| %>
      <li><%= cat.name %></li>
    <% end %>
  </ul>
</h2>

<h3>
  <%= @post.content %>
</h3>

<h4>
  <ul>
    <% @post.comments.each do |comment| %>
      <li><%= comment.user.username %> says: <%= comment.content %></li>
    <% end %>
  </ul>
</h4>

<h4>
  <ul>
    <% @post.users.distinct.each do |user| %>
      <%= link_to user.username, user %>
    <% end %>
  </ul>
</h4>

<h4>
  <%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.collection_select :user_id, User.all, :id, :username %>
    <%= f.fields_for :user, User.new do |user_f| %>
      <%= user_f.label :username %>
      <%= user_f.text_field :username %>
    <% end %>
    <%= f.label :content, "New Comment" %>
    <%= f.text_area :content %>
    <%= f.submit%>
  <% end %>
</h4>